@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500&display=swap");

*,
::after,
::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: rgba(255, 255, 255, 0.91);
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {}

.header_wraper {
    width: 100%;
    padding: 0px 15px;
    margin: 0px auto;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(247, 247, 247);
    position: fixed;
    top: 0px;
    left: 0px;
}

.left_header_box {
    display: flex;
    align-items: center;
}

.left_header_box h3 {
    margin-left: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.left_header_box h3 i {
    font-size: 26px;
    color: rgba(251, 21, 21, 0.73);
    width: 31px;
}

.left_header_box>span {
    padding: 8px;
    cursor: pointer;
}

.middle_header_box {
    display: flex;
    align-items: center;
}

.middle_header_box>span {
    margin-left: 5px;
    padding: 5px;
    background: rgba(237, 234, 234, 0.8);
    border-radius: 50%;
    cursor: pointer;
}

.input_box {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.input_box_left {
    width: 263px;
    background: rgba(255, 255, 255, 0.65);
    padding: 9px 12px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.input_box_left input {
    width: 100%;
    border: none;
    background: unset;
    outline: none;
}

.input_box_right {
    display: flex;
    padding: 7.5px 14px;
    background: rgba(209, 209, 209, 0.85);
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.input_box_right span {}

.input_box input {
    cursor: pointer;
}

.input_box span {}

.right_header_box {
    display: flex;
    align-items: center;
}

.right_header_box ul {
    display: flex;
    align-items: center;
}

.right_header_box ul li {
    padding: 5px;
    margin-right: 8px;
}

.right_header_box ul li span {
    cursor: pointer;
}

.right_header_box ul li img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}

main {}

.main_box_wraper {
    max-width: 1300px;
    width: 100%;
    padding: 57px 0px 0px;
    margin: 0px auto;
    display: flex;
    height: calc(100vh - 65px);
}

.left_main_box {
    flex-basis: 240px;
    overflow: auto;
}

.left_main_box ul {}

.left_main_box ul li:first-child {
    background-color: rgba(195, 195, 195, 0.26);
}

.left_main_box ul li {
    display: flex;
    margin: 1px 0px;
    padding: 8px 15px;
    align-items: center;
    transition: all 0.3s ease 0s;
}

.left_main_box ul li:hover {
    background: rgba(195, 195, 195, 0.26);
    cursor: pointer;
}

.left_main_box ul li {
    display: flex;
    align-items: center;
}

.left_main_box ul li span {
    margin-right: 25px;
    font-size: 28px;
}

.right_section {
    overflow: auto;
    flex-grow: 1;
    width: 100%;
}

.right_main_box {
    gap: 13px;
    display: flex;
    padding: 16px;
    flex-wrap: wrap;
}

.right_top_box {}

.all_tags {
    width: 98%;
    margin: 5px auto;
    border-top: 1px solid #80808080;
    border-bottom: 1px solid #80808080;
    padding: 8px 0;
}

.all_tags ul {
    display: flex;
    justify-content: space-around;
    /* margin: 12px 0px; */
}

.all_tags ul li {
    background: rgb(235, 235, 235);
    padding: 5px 8px;
    border-radius: 17px;
    border: 1px solid rgb(211, 207, 207);
}

.all_tags ul li:hover {
    background: #f3f1f170;
    cursor: pointer;
}

ul .divider {
    width: 96%;
    height: 1px;
    border-bottom: 1px solid rgb(160, 157, 157);
}

.single_video {
    flex-basis: 31%;
    margin-right: 14px;
}

.single_video_contents {}

.top_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 0;
}

.top_left_text {}

.top_left_text h2 {
    font-size: 14px;
    cursor: pointer;
}

.top_right_logo {}

.top_right_logo span {
    padding: 4px;
    transition: 0.3s;
    border-radius: 50%;
}

.top_right_logo span:hover {
    background: #c0c0c0ba;
    cursor: pointer;
}

.bottom_content {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.channel_logo {
    width: 48px;
    height: 48px;
    margin-right: 10px;
    cursor: pointer;
}

.channel_logo img {
    width: 100%;
    border-radius: 50%;
}

.channel_text {}

.channel_text h4 {
    cursor: pointer;
}

.channel_text p {
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(241, 241, 241);
}

::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 85, 85);
}